USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 4/15/2019 10:18:00 PM ******/
CREATE DATABASE [SMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SMS.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SMS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  Table [dbo].[AttendanceRegister]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttendanceRegister](
	[EnrollmentID] [varchar](10) NOT NULL,
	[SchoolDate] [datetime] NOT NULL,
	[Status] [varchar](10) NULL,
 CONSTRAINT [pk_AttendanceRegister] PRIMARY KEY CLUSTERED 
(
	[SchoolDate] ASC,
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[SchoolID] [varchar](10) NULL,
	[CourseID] [varchar](10) NOT NULL,
	[CourseName] [varchar](100) NULL,
 CONSTRAINT [pk_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[School]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[School](
	[SchoolID] [varchar](10) NOT NULL,
	[SchoolName] [varchar](100) NULL,
	[SchoolAddress] [varchar](200) NULL,
 CONSTRAINT [pk_SchoolID] PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Section]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Section](
	[CourseID] [varchar](10) NULL,
	[SectionID] [varchar](10) NOT NULL,
	[SectionName] [varchar](100) NULL,
 CONSTRAINT [pk_Section] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[EnrollmentID] [varchar](10) NOT NULL,
	[StudentName] [varchar](100) NULL,
	[StudentAddress] [varchar](200) NULL,
	[SchoolID] [varchar](10) NULL,
	[CourseID] [varchar](10) NULL,
	[SectionID] [varchar](10) NULL,
	[StudentPhoto] [varchar](200) NULL,
	[FatherName] [varchar](100) NULL,
	[MotherName] [varchar](100) NULL,
	[DOB] [date] NULL,
	[DOA] [date] NULL,
	[FatherMobNo] [numeric](18, 0) NULL,
	[MotherMobNo] [numeric](18, 0) NULL,
	[AlterNateNo] [numeric](18, 0) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Student] ADD [Gender] [varchar](1) NULL
 CONSTRAINT [pk_Student] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [varchar](10) NOT NULL,
	[SubjectName] [varchar](100) NULL,
	[CourseID] [varchar](10) NULL,
 CONSTRAINT [pk_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 4/15/2019 10:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [varchar](10) NOT NULL,
	[TeacherName] [varchar](100) NULL,
	[TeacherAddress] [varchar](100) NULL,
	[Qualification1] [varchar](100) NULL,
	[Qualification2] [varchar](100) NULL,
	[Qualification3] [varchar](100) NULL,
	[Qualification4] [varchar](100) NULL,
	[SubjectID] [varchar](10) NULL,
 CONSTRAINT [pk_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AttendanceRegister]  WITH CHECK ADD  CONSTRAINT [fk_StudentIDAttRegister] FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Student] ([EnrollmentID])
GO
ALTER TABLE [dbo].[AttendanceRegister] CHECK CONSTRAINT [fk_StudentIDAttRegister]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [fk_Course_SchoolID] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([SchoolID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [fk_Course_SchoolID]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [fk_Course_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [fk_Course_CourseID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [fk_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [fk_CourseID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [fk_SchoolID] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([SchoolID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [fk_SchoolID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [fk_SectionID] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [fk_SectionID]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [fk_CourseIDSubject] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [fk_CourseIDSubject]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [fk_SubjectIDTeacher] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [fk_SubjectIDTeacher]
GO
USE [master]
GO
